<div class="d-flex flex-row flex-nowrap">
  <storybook-input
    id="input"
    [control]="nameControl"
    label="nameinput"
    [errorTpl]="errorTpl"
  ></storybook-input>
  <ng-template #errorTpl
    ><app-validation [errors]="nameControl.errors"></app-validation
  ></ng-template>
  <storybook-icon-button
    id="save"
    icon="save"
    (clicked)="save()"
  ></storybook-icon-button>
  <storybook-icon-button
    id="cancel"
    icon="delete"
    (clicked)="cancel()"
  ></storybook-icon-button>
</div>
