<div class="d-flex flex-row flex-nowrap">
  <storybook-input
    [id]="'input'"
    [control]="nameControl"
    [label]="'Name input'"
    [errorTpl]="errorTpl"
  ></storybook-input>
  <ng-template #errorTpl
    ><app-validation [errors]="nameControl.errors"></app-validation
  ></ng-template>
  <storybook-svg-button
    [id]="'save'"
    [type]="'save'"
    [tooltipText]="'Edit'"
    (clicked)="save()"
  ></storybook-svg-button>
  <storybook-svg-button
    [id]="'discard'"
    [type]="'discard'"
    [tooltipText]="'Cancel'"
    (clicked)="cancel()"
  ></storybook-svg-button>
</div>
